Server={{ zabbix_proxy_server }}
Hostname={{ zabbix_proxy_hostname }}
ServerPort={{ zabbix_proxy_server_port }}
ListenPort={{ zabbix_proxy_port }}
ProxyMode={{ zabbix_proxy_mode }}
LogType={{ zabbix_proxy_logtype }}
LogFile={{ zabbix_proxy_logfile }}
PidFile={{ zabbix_proxy_pidfile }}
DBName={{ zabbix_proxy_dbname }}
ProxyOfflineBuffer={{ zabbix_proxy_offlinebuffer }}
StartJavaPollers={{ zabbix_proxy_startjavapollers }}
JavaGateway={{ zabbix_proxy_javagateway }}
JavaGatewayPort={{ zabbix_proxy_javagatewayport }}
HeartbeatFrequency={{ zabbix_proxy_heartbeat }}
ConfigFrequency={{ zabbix_proxy_configfrequency }}
DataSenderFrequency={{ zabbix_proxy_datasenderfrequency }}
StartPollers={{ zabbix_proxy_startpollers }}
StartPollersUnreachable={{ zabbix_proxy_startpollersunreachable }}
StartTrappers={{ zabbix_proxy_starttrappers }}
StartPingers={{ zabbix_proxy_startpingers }}
StartDiscoverers={{ zabbix_proxy_startdiscoverers }}
StartHTTPPollers={{ zabbix_proxy_starthttppollers }}
StartVMwareCollectors={{ zabbix_proxy_startvmwarecollectors }}
VMwareCacheSize={{ zabbix_proxy_vmwarecache }}
StartDBSyncers={{ zabbix_proxy_startdbsyncers }}
CacheSize={{ zabbix_proxy_cachesize }}
HistoryCacheSize={{ zabbix_proxy_historycachesize }}
HistoryIndexCacheSize={{ zabbix_proxy_historyindexcachesize }}
Timeout={{ zabbix_proxy_timeout }}
ExternalScripts={{ zabbix_proxy_externalscripts }}
VMwareTimeout={{ zabbix_proxy_vmwaretimeout }}

